
/* Your CSS Code here. */
body .card{
    margin: 10px;
}
.card-deck .card {
    height: 23rem;
    width: 18rem;

    border-bottom: 5px solid black;
}
.card-deck #last{
    display: flex;
    align-items:flex-end;
}
body .card-deck:last-child{
    align-items: flex-end ;
}